.contenedor-general_coleccion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 60px;
}
.contenedor-coleccion {
  background-color: hsla(248, 32%, 49%, 0.383);
  padding: 35px;
  border-radius: 5px;
}
.titulo_coleccion {
  color:hsl(248, 32%, 49%);
  margin-top: 100px;
  margin-bottom: 20px;
}
.boton_coleccion {
  border: 1px solid white;
  background-color: hsl(248, 32%, 49%);
  color: white;
  border-radius:5px;
  padding: 15px;
  width: 310px;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 40px;
}
.coleccion_comics {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 15px;
  border-radius:5px;
  margin-top: 40px;
  margin-bottom: 20px;
}
.coleccion_nombre {
  color: hsl(0, 100%, 74%);
  font-weight: 600;
}
.coleccion_botones {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  gap: 5px;
}
.boton-coleccion_comic {
  background-color: hsl(248, 32%, 49%);
  color: white;
  border-radius:2px;
  width: 100px;
  padding: 5px;
}

@media only screen and (min-width: 800px){
  .contenedor-coleccion {
    padding: 70px 35px 35px 35px;
  }
  .coleccion_comics {
    margin-bottom: 50px;
  }
  .coleccion_botones {
    gap: 20px;
  }
  .boton-coleccion_comic {
    width: 200px;
    height: 40px;
  }
}



