.navbar {
    background-color: red;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navbar-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
}