.contenedor-general_usuario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.contenedor-titulo_usuario {
  color: hsl(248, 32%, 49%);
  border-radius:10px;
  padding: 20px 5px 20px 5px;
  font-weight: 600;
  font-size: 30px;
}
.contenedor-usuario {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:white;
  border-radius: 10px;
  padding: 25px;
}
.contenedor-usuario_campo {
  padding-bottom: 15px;
}

.contenedor-usuario_input {
  border: 1px solid rgb(172, 172, 172);
  border-radius: 5px;
  padding: 15px 0 15px 10px;
  width: 300px;
  font-size: 16px;
}
.registro_sesion {
  background-color: hsl(248, 32%, 49%);
  color: white;
  border-radius:5px;
  padding: 15px;
  width: 310px;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 15px;
}
.regresar_sesion {
  background-color: hsl(248, 32%, 49%);
  color: white;
  border-radius:5px;
  padding: 15px;
  width: 310px;
  font-weight: 500;
  font-size: 16px;
}
.input-error {
  border: 1px solid hsl(0, 100%, 74%);
}

.error-message {
  display: block;
  color: hsl(0, 100%, 74%);
  margin-top: 5px;
}
 